@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
    margin: 0px;
    padding: 0px;
    border: border-box;
    font-family: Poppins, sans-serif;
    font-weight: 200;
}
body {
    background-color: #F8F4ED;
    color: #0A5247;
}
header {
    background-color: #FF5757;
    color: #ffffff;
    padding: 10px;
    text-align: center;
}
nav {
    display: flex;
    justify-content: center;
    gap: 15px;
}
h1{
    color:  #FFC643 ;
}
nav a {
    color: #fff;
    text-decoration: none;
    margin-top: 10px;
    margin-left: 30px;

}
.container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
    padding: 20px;
}
.product-card {
    background: #ffffff;
    border: 1px solid #dddddd;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
    padding: 20px;
    border-radius: 10px;
    transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
}
.product-card:hover {
    transform: translateY(-10px);
    box-shadow: 0 5px 15px rgba(0,0,0,0.2);
}
.product-image img {
    width: 100%;
    display: block;
}
.product-info h3, .product-info p {
    text-align: center;
}
footer {
    background-color: #FF5757;
    color: #ffffff;
    text-align: center;
    padding: 20px;
    margin-top: 20px;
}
i{
    cursor: pointer;
}
